body {
  background: linear-gradient(#3399ee, #3322bb);
  background-attachment: fixed;
  overflow: hidden;
}

.fade-text {
  mask-image: linear-gradient(to bottom, transparent 2%, black 80px, black calc(98% - 80px), transparent 98%);
}