/* layout */

.not-header {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 100px;
  flex-direction: row;
}

.fifteen-puzzle-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
  padding-left: 50px;
}

.puzzle-controls {
  display: flex;
  flex-direction: row;
}

.puzzle-grid {
  --tile-size: 82px;
  --side-len: 4;
  display: grid;
  grid-template-columns: repeat(var(--side-len), var(--tile-size));
  grid-template-rows: repeat(var(--side-len), var(--tile-size));
  width: calc(var(--tile-size) * var(--side-len));
  background-color: #bbbbbb;
  border-width: 10px;
  border-style: solid;
  border-radius: 50px;
  border-color: #2a2a2a;
  padding: 5px;
}

.puzzle-tile {
  border-radius: calc(var(--tile-size) / 16 * 5);
  color: white;
  background-color: #44332a;
  text-align: center;
  line-height: var(--tile-size);
  font-size: 30pt;
  margin: 1px;
  cursor: pointer;
}

.shuffle-button-box {
  margin-top: 40px;
  height: 45px;
  width: 240px;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.shuffle-button:hover {
  background-color: #55443b;
}

.shuffle-button-box:hover {
  color: #3399ee;
  box-shadow: 1px 1px 1px 1px;
}

.shuffle-button {
  background-color: #44332a;
  font-size: 14pt;
  color: white;
  height: 45px;
  width: 240px;
  border-radius: 15px;
  border-width: 1px;
  margin-bottom: 20px;
  cursor: pointer;
}

.clear-times-button {
  background-color: #bb6666;
  font-size: 14pt;
  color: white;
  height: 45px;
  width: 240px;
  border-radius: 15px;
  border-width: 1px;
  margin-bottom: 20px;
  cursor: pointer;
}
.input-parameter {
  color: white;
  margin-top: 5px;
}

.timer {
  text-align: center;
  align-self: center;
  padding: 30px;
  font-size: 35pt;
  width: 200px;
}

.move-count {
  text-align: center;
  align-self: center;
  padding: 30px;
  font-size: 35pt;
  width: 100px;
}

@media (max-width: 768px) {
  .fifteen-puzzle-content {
    align-items:center;
    justify-content:space-between;
    padding-top: 30px;
    flex-direction: column-reverse;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }

  .puzzle-grid {
    margin-top: auto;
    margin-bottom: auto;
  }

  .puzzle-controls {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .shuffle-button-box{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .move-count {
    display: none;
  }

  .shuffle-button-box{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .timer {
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

@media (max-height: 700px) and (max-width: 768px) {
  .shuffle-button-box {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .puzzle-controls {
    margin-bottom: 5px;
  }
}

/*header*/

.header {
  background-color: #bbbbbb;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  box-shadow: 0px 0px 10px 1px;
  padding-top: 20px;
  padding-left: 25px;
  z-index: 30;
}

@media (max-width: 768px) {
  .header{
    height: 40px;
  }
}

.header-link {
  align-self: center;
  cursor: pointer;
  font-size: 20pt;
}

.header-link:hover {
  color: #333333;
}

.header-back {
  height: 30px;
  width: 30px;
  margin-bottom: -6px;
}

.header-link:hover .header-back {
  transform: translateX(-5px);
}
/* time list elements */

.time-list-container {
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: #3399ee;
  width: 300px;
  min-width: 300px;
  box-shadow: 0px 0px 5px 1px;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 100px;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

@media (max-width: 768px) {
  .time-list-container {
    display:none;
  }
}

.time-list-container::-webkit-scrollbar {
  display: none;
}

.best-times {
  height: 80px;
  text-align: center;
  padding-bottom: 15px;
}

.statistic {
  font-size: 12pt;
  color: white;
  margin: 10px;
}

.time-list-headers {
  display: grid;
  grid-template-columns: 40px 80px 80px 60px 30px;
}

.time-list-header {
  background-color: #44332a;
  border-color: #999999;
  color: white;
  padding: 7px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: 12pt;
}

.time-list-header-avg {
  cursor: pointer;
}

.time-list-header-moves {
  cursor: pointer;
}

.time-list-items {
  display: grid;
  grid-template-columns: 40px 80px 80px 60px 30px;
}

.time-list-item {
  background-color: #44332a;
  border-color: #bbbbbb;
  color: white;
  padding: 7px;
  border-style: solid;
  border-width: 2px;
  border-top-width: 0px;
  text-align: center;
  font-size: 12pt;
}

.x-button-puzzle {
  border-color: #bbbbbb;
  height: 12px;
  width: 12px;
  color: #bbbbbb;
  font-size: 13pt;
  font-family: sans-serif;
  font-family: bold;
  cursor: pointer;
}

/*focus draw*/

.focus-draw {
  position: absolute;
  opacity: 0;
}
