.header {
    background-color: #bbbbbb;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    box-shadow: 0px 0px 10px 1px;
    padding-left: 150px;
    z-index: 30;
}

.ribbon {
    top: 0px;
    bottom: 0px;
    left: 20px;
    width: 65px;
    position: fixed;
    box-shadow: 0px 0px 5px 1px;
    z-index: 20;
}
.blue-ribbon {
    background-color: #3399ee;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 20px;
    width: 40px;
}
.brown-ribbon {
    background-color: #44332a;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 60px;
    width: 25px;
}
.content {
    padding-left: 120px;
    padding-top: 160px;
    font-size:16pt;
    overflow: auto;
}

.paragraph {
    width: 1500px;
}

.header-link {
    font-size: 18pt;
    align-self: end;
    padding: 10px;
    cursor: pointer;
    margin-right: 40px;
}

.header-link:hover {
    color: #333333;
    transform: translateY(-3px);
}