/* layout */

.not-header {
    display: flex;
    position: fixed;
    bottom: 0px;
    left:0px;
    right:0px;
    top: 140px;
    flex-direction: row;
}

.fifteen-puzzle-content {
    display:flex;
    flex-direction:column; 
    align-items: left; 
    justify-items:center; 
    padding-left: 50px;
}

.puzzle-grid {
    display: grid;
    background-color: #bbbbbb;
    grid-template-columns: repeat(4, 82px);
    grid-template-rows: repeat(4, 82x);
    width: 328px;
    border-width: 10px;
    border-style: solid;
    border-radius: 50px;
    border-color: #2a2a2a;
    padding: 5px;
}

.puzzle-tile {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    color: white;
    background-color: #44332A;
    text-align: center;
    line-height: 80px;
    font-size: 30pt;
    margin: 1px;
}

.shuffle-button-box {
    margin-top: 40px;
    height: 45px;
    width: 240px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.shuffle-button:hover {
    background-color: #55443b;
}

.shuffle-button-box:hover {
    color: #3399ee;
    box-shadow: 1px 1px 1px 1px;
}

.shuffle-button {
    background-color: #44332a;
    font-size: 14pt;
    color: white;
    height: 45px;
    width: 240px;
    border-radius: 15px;
    border-width: 1px;
    margin-bottom: 20px;
    cursor: pointer;
}

.clear-times-button {
    background-color: #bb6666;
    font-size: 14pt;
    color: white;
    height: 45px;
    width: 240px;
    border-radius: 15px;
    border-width: 1px;
    margin-bottom: 20px;
    cursor: pointer;
}

.input-parameter {
    color: white;
    margin-top: 5px;
}

.timer {
    text-align:center;
    align-self:center;
    padding: 30px;
    font-size: 35pt;
    width: 200px;
}

.move-count {
    text-align:center;
    align-self:center;
    padding: 30px;
    font-size: 35pt;
    width: 100px;
}

/* time list elements */

.time-list-container {
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    background-color: #3399ee;
    width: 300px;
    box-shadow: 0px 0px 5px 1px;
    justify-content: flex-start;
    align-items: center;
    overflow-y:auto;
    padding-bottom:100px;
}

.best-times {
    height: 80px;
    text-align: center;
    padding-bottom: 15px;
}

.statistic {
    font-size: 12pt;
    color: white;
    margin: 10px;
}

.time-list-headers {
    display: grid;
    grid-template-columns: 40px 80px 80px 60px 30px;
}

.time-list-header{
    background-color: #44332a;
    border-color: #999999;
    color: white;
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 12pt;
}

.time-list-header-avg {
    cursor: pointer;
}

.time-list-header-moves {
    cursor: pointer;
}

.time-list-items { 
    display: grid;
    grid-template-columns: 40px 80px 80px 60px 30px;
}

.time-list-item {
    background-color: #44332a;
    border-color: #bbbbbb;
    color: white;
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    text-align: center;
    font-size: 12pt;
}

.x-button-puzzle {
    border-color: #bbbbbb;
    height: 12px;
    width: 12px;
    color: #bbbbbb;
    font-size: 13pt;
    font-family: sans-serif;
    font-family:bold;
    cursor: pointer;
}